#btn-mw-module-1689755692688 {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 18px;
	padding-bottom: 18px;
	margin-top: 0px;
	margin-bottom: 10px;
}
#element_1689755692648 {
	font-size: 22px;
}
#mw-module-1689755692688 {
	margin-top: 20px;
}
#element_1689755692592 {
	margin-bottom: 0px;
}
#layouts-20230719083859 {
	background-image: url(https://timberonline.microweber.net/userfiles/media/default/pexels-photo-16790832-65331e0f-1920w.png);
	background-color: rgba(0,0,0,0.03);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.edit[field="layout-skin-1-layouts-20230719083859"][rel="module"] {
	background-color: rgba(51,51,51,0.25);
	background-image: url([object Object]);
}
#mw-selector-1689756736629 {
	text-align: center;
}
#element_1689756728049 {
	text-align: center;
}
#element_1689756728047 {
	text-align: center;
}
#element_1689756728072 {
	text-align: center;
}
#element_1689756728246 {
	margin-left: 20px;
}
#element_1689756729092 {
	text-align: center;
}
#mw-selector-1689756736730 {
	text-align: center;
}
#mw-selector-1689756736727 {
	text-align: center;
}
#mw-selector-1689756736733 {
	text-align: center;
}
#mw-selector-1689756736736 {
	text-align: center;
}
#element_1689756729268 {
	text-align: center;
}
#mw-selector-1689756736749 {
	background-repeat: no-repeat;
	background-size: cover;
}
#element_1689756729276 {
	text-align: center;
}
#element_1689756729274 {
	text-align: center;
}
#element_1689756729273 {
	text-align: center;
}
.edit[field="layout-gallery-skin-7-layouts-20230719091733"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1689758645614 {
	margin-left: 40px;
}
#element_1689758645941 {
	margin-top: inherit;
	font-size: 0px;
	line-height: 0px;
}
.edit[field="layout-gallery-skin-7-layouts-20230719092621"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 0px;
}
#element_1689758646317 {
	text-align: center;
}
#element_1689758646370 {
	text-align: center;
}
#element_1689758646477 {
	font-size: 42px;
	margin-bottom: 30px;
}
#element_1689758647070 {
	margin-bottom: 0px;
	font-size: 50px;
}
#element_1689758646478 {
	font-size: 16px;
	margin-bottom: 30px;
}
#element_1689758647101 {
	font-size: 50px;
	margin-bottom: 0px;
}
#element_1689758648344 {
	margin-left: 0px;
	margin-top: 30px;
}
.edit[field="layout-skin-1-layouts-20230719093041"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1689758648641 {
	text-align: center;
}
#element_1689758648698 {
	text-align: center;
}
#element_1689758648909 {
	text-align: center;
}
#element_1689758648699 {
	text-align: center;
}
#element_1689758649017 {
	font-size: 20px;
}
#element_1689758649016 {
	font-size: 20px;
}
#element_1689758648975 {
	font-size: 17px;
}
#element_1689758648974 {
	font-size: 17px;
}
#element_1689758649010 {
	font-size: 17px;
}
.edit[field="layout-skin-1-layouts-20230719094042"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#element_1689758649601 {
	font-size: 17px;
	line-height: 29px;
}
#element_1689758649600 {
	font-size: 17px;
	line-height: 29px;
}
#element_1689758649691 {
	font-size: 17px;
	line-height: 29px;
}
#mw-selector-1689761393118 {
	line-height: 29px;
}
.edit[field="layout-skin-1-layouts-20230719094530"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #362d2e;
}
#element_1689761288200 {
	text-align: center;
}
#element_1689761288199 {
	text-align: center;
}
#element_1689761288201 {
	text-align: center;
}
#element_1689761288207 {
	text-align: center;
}
#element_1689761288216 {
	padding-left: 0px;
	padding-right: 0px;
	text-align: right;
}
#mw-selector-1689816258344 {
	padding-left: 30px;
	padding-right: 30px;
	text-align: right;
}
#element_1689761288205 {
	padding-left: 10px;
	padding-right: 0px;
}
#element_1689761288206 {
	padding-left: 10px;
	padding-right: 0px;
}
#element_1689815648923 {
	padding-bottom: 0px;
	text-align: center;
}
.edit[field="layout-skin-1-layouts-20230720020447"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 03px;
}
#element_1689815647477 {
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}
#mw-selector-1689816258380 {
	font-size: 25px;
}
#element_1689758203297 {
	font-size: 16px;
	line-height: 10px;
}
#element_1689815650673 {
	font-size: 25px;
}
#element_1689815650992 {
	font-size: 25px;
	text-align: center;
}
#element_1689815651027 {
	font-size: 25px;
}
#element_1689815647478 {
	font-size: 17px;
	text-align: center;
}
#element_1689815647537 {
	font-size: 17px;
	text-align: left;
}
#element_1689815647552 {
	font-size: 17px;
	text-align: left;
}
#mw-selector-1689816258442 {
	font-size: 17px;
	line-height: 27.2px;
}
#mw-selector-1689816258451 {
	font-size: 17px;
}
#mw-selector-1689816258457 {
	line-height: 27.2px;
}
#mw-selector-1689816258424 {
	line-height: 30px;
	font-size: 25px;
	text-align: left;
}
#mw-selector-1689816258464 {
	font-size: 25px;
}
#mw-selector-1689816258473 {
	font-size: 14px;
	line-height: 25.6px;
}
#element_1689815651363 {
	font-size: 25px;
	text-align: center;
}
#element_1689815648867 {
	line-height: 27.2px;
	font-size: 17px;
	text-align: center;
}
#layouts-20230720020447 {
	background-color: rgba(0,0,0,0.01);
}
#mw-selector-1689820347115 {
	background-image: none;
}
#element_1689820302744 {
	text-align: center;
}
#element_1689820302740 {
	text-align: center;
}
#element_1689820302739 {
	text-align: center;
}
#element_1689820302771 {
	text-align: center;
}
.edit[field="layout-skin-1-layouts-20230720023826"][rel="module"] {
	padding-bottom: 0px;
	padding-top: 0px;
}
#spacer-64b89ecd07f5f {
	height: 20px;
}
#header-layout {
	text-align: center;
}
#element_1689815648927 {
	text-align: center;
}
#element_1689815648938 {
	text-align: center;
}
#element_1689815648937 {
	text-align: center;
}
#mw-selector-1689820347180 {
	text-align: center;
}
#element_1689815648950 {
	text-align: center;
}
#mw-selector-1689816258479 {
	text-align: center;
}
#element_1689815648935 {
	text-align: center;
}
#element_1689815648934 {
	text-align: center;
}
#element_1689815648866 {
	text-align: left;
}
#mw-selector-1689816258476 {
	text-align: left;
}
#mw-selector-1689820347216 {
	text-align: left;
}
#element_1689820304327 {
	text-align: center;
}
#element_1689815648713 {
	text-align: right;
}
#element_1689820304645 {
	text-align: center;
}
.edit[field="layout-skin-1-layouts-20230720030240"][rel="module"] {
	padding-top: 0px;
	padding-bottom: 0px;
}
#btn-20230719093115 {
	margin-bottom: 40px;
}
